<mat-toolbar-row>
    <button class="btnVolver" mat-button color="primary" (click)='volver()'> <mat-icon>undo </mat-icon> VOLVER </button>
    <button class="btnVolverCel" mat-icon-button color="primary" (click)='volver()'> <mat-icon>undo</mat-icon> </button>
    <span class="ruta">&nbsp; Buscar Normas</span>
  
  </mat-toolbar-row>
  
  <mat-divider></mat-divider>
  
  <div class="pantalla">

    <div class="busqueda">

        <mat-card>
          <form [formGroup]='filters' (ngSubmit)='buscar()'>

            <div class="contenedorInput">
                <mat-form-field appearance="outline">
                    <mat-label>Buscar Normas</mat-label>
                    <input matInput formControlName='texto'>
                    <!-- <mat-icon matSuffix>search</mat-icon> -->
                  </mat-form-field>
      
                  <button type='submit' class="btnGuardar" mat-flat-button color="primary">   
                      <mat-icon matSuffix>search</mat-icon>
                  </button>
            </div>

            <button type="button" mat-button class="btnFiltros" (click)="mostrarFiltros = !mostrarFiltros"> Filtros <i class="material-icons">keyboard_arrow_down</i></button>
            <div *ngIf="mostrarFiltros">

                <mat-form-field class="itemFormulario" appearance="outline">
                    <mat-label>Desde</mat-label>
                    <input matInput [matDatepicker]="desde" placeholder="Desde" formControlName='desde'>
                    <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
                    <mat-datepicker #desde></mat-datepicker>
                  </mat-form-field>
      
                  <mat-form-field class="itemFormulario" appearance="outline">
                    <mat-label>Hasta</mat-label>
                    <input matInput [matDatepicker]="hasta" placeholder="Hasta" formControlName='hasta'>
                    <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
                    <mat-datepicker #hasta></mat-datepicker>
                  </mat-form-field>
      
                  <mat-form-field class="itemFormulario" appearance="outline">
                      <mat-label>Estado</mat-label>
                      <mat-select formControlName='estado' required>
                        <mat-option *ngFor="let estado of (estados$ | async)" value='{{estado}}'>
                          {{estado}}
                        </mat-option>
                      </mat-select>
                  </mat-form-field> 

            </div>

 

          </form>
        </mat-card>

    </div>

    <div class="resultados">

        <mat-table [dataSource]="normas$ | async" multiTemplateDataRows>

          <ng-container matColumnDef="numero" >
              <mat-header-cell *matHeaderCellDef > Número </mat-header-cell>
              <mat-cell *matCellDef="let n" > 
                {{n.numero}}
              </mat-cell>  
          </ng-container>

          <ng-container matColumnDef="fecha" >
              <mat-header-cell *matHeaderCellDef > Fecha </mat-header-cell>
              <mat-cell *matCellDef="let n" > 
                {{n.fecha | date}}
              </mat-cell>  
          </ng-container>

          <ng-container matColumnDef="tipo" >
              <mat-header-cell *matHeaderCellDef > Tipo </mat-header-cell>
              <mat-cell *matCellDef="let n"> 
                {{n.tipo}}
              </mat-cell>  
          </ng-container>

          <ng-container matColumnDef="emisor" >
              <mat-header-cell *matHeaderCellDef> Emisor </mat-header-cell>
              <mat-cell *matCellDef="let n"> 
                {{n.emisor}}
              </mat-cell>  
          </ng-container>

          <ng-container matColumnDef="detalle" >
              <mat-header-cell *matHeaderCellDef> Detalle </mat-header-cell>
              <mat-cell *matCellDef="let n"> 
                  <button (click)='detalle_norma(n.id)' mat-icon-button><mat-icon>zoom_in</mat-icon></button>
                  <a mat-button target='_blank' [href]='detalle_norma_url(n.id)'><i class="material-icons-outlined">zoom_in</i></a>
              </mat-cell>  
          </ng-container>

          <ng-container matColumnDef="archivo">
              <mat-header-cell *matHeaderCellDef> Archivo </mat-header-cell>
              <mat-cell *matCellDef="let n" > 
                  <a mat-button color="primary" target='_blank' [href]="archivoUrl(n.archivo_id)"><i class="material-icons-outlined">picture_as_pdf </i></a>
              </mat-cell>  
          </ng-container>

          <ng-container matColumnDef="visibilidad">
              <mat-header-cell *matHeaderCellDef> Visibilidad </mat-header-cell>
              <mat-cell *matCellDef="let n" > 
                  <button mat-button color="primary" (click)="visible = !visible" matTooltip="Cambiar Estado"  matTooltipPosition="before">
                      <mat-icon class="material-icons-outlined">{{visible ? 'visibility_off' : 'visibility'}} </mat-icon> {{visible ? 'Privada' : 'Pública'}}
                      </button>
              </mat-cell>  
          </ng-container>

          <mat-header-row *matHeaderRowDef="columnas()"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnas();"></mat-row>
        

        </mat-table>

    </div>

</div>
