
<form [formGroup]='filters' (ngSubmit)='buscar()'>
  <mat-form-field>
    <input matInput [matDatepicker]="desde" placeholder="Desde" formControlName='desde'>
    <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
    <mat-datepicker #desde></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="hasta" placeholder="Hasta" formControlName='hasta'>
    <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
    <mat-datepicker #hasta></mat-datepicker>
  </mat-form-field>

  <button type='submit'>Buscar</button>
</form>

<div *ngFor='let n of (normas$ | async)'>
  {{n.numero}}
  {{n.fecha | date}}
  {{n.tipo}}
  {{n.emisor}}
  
  <button (click)='detalle_norma(n.id)'>detalle1</button>

  <a target='_blank' [href]='detalle_norma_url(n.id)'>detalle2</a>

  <a target='_blank' [href]="archivoUrl(n.archivo_id)">archivo</a>
</div>
