<mat-toolbar-row>
  <!-- 
  <button class="btnVolver" mat-button color="primary" (click)='volver()'> <mat-icon>undo </mat-icon> VOLVER </button>
  <button class="btnVolverCel" mat-icon-button color="primary" (click)='volver()'> <mat-icon>undo</mat-icon> </button>
  -->
  <span class="ruta">&nbsp; Nueva Norma</span>

</mat-toolbar-row>

<mat-divider></mat-divider>

<div class="pantalla">

    <div class='cargando' *ngIf='cargando$ | async'>
      <mat-spinner></mat-spinner>
    </div>      

    <form [formGroup]='form' (ngSubmit)='subir()' class="formulario">

        <div class="bloque">

            <mat-form-field class="itemFormulario" appearance="outline">
              <mat-label>Número de Norma</mat-label>
              <input matInput formControlName='numero' required>
            </mat-form-field>

            <mat-form-field class="itemFormulario" appearance="outline">
                <mat-label>Fecha</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="Fecha" fromControlName='fecha' readonly required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="itemFormulario" appearance="outline">
                <mat-label>Normativa</mat-label>
                <adjuntar-archivos formControlName='archivo' required></adjuntar-archivos>
            </mat-form-field>

        </div>
        
        <div class="bloque">

            <mat-form-field class="itemFormulario" appearance="outline">
                <mat-label>Tipo</mat-label>
                <mat-select formControlName='tipo' required>
                  <mat-option *ngFor="let tipo of (tipos$ | async)" value='{{tipo.id}}'>
                    {{tipo.tipo}}
                  </mat-option>
                </mat-select>
              </mat-form-field>  
        
              <mat-form-field class="itemFormulario" appearance="outline">
                <mat-label>Emisor</mat-label>
                <mat-select formControlName='emisor' required>
                  <mat-option *ngFor="let emisor of (emisores$ | async)" value='{{emisor.id}}'>
                    {{emisor.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>  
              
              <mat-form-field class="itemFormulario" appearance="outline">
                <mat-label>Estado</mat-label>
                <mat-select formControlName='estado' required>
                  <mat-option *ngFor="let estado of (estados$ | async)" value='{{estado}}'>
                    {{estado}}
                  </mat-option>
                </mat-select>
              </mat-form-field>  

              <!-- 
              <div [formGroup]='estado' class="estados">
                <div><mat-checkbox formControlName='aprobado'>Aprobado</mat-checkbox></div>
                <div><mat-checkbox formControlName='pendiente'>Pendiente</mat-checkbox></div>
              </div>
              -->

        </div>


        <div class="bloqueAcciones">
            <button mat-Button type='submit' class="btnGuardar" mat-flat-button color="primary">CREAR NORMA</button>
        </div>

    </form>


</div>