<div class="bloque">

    <mat-toolbar class="toolbar">
        <div class="tituloSistema">
            <div class="textDigesto">DIGESTO</div>  <div class="version">v. {{environment.version}}</div>
        </div>
        <button mat-stroked-button (click)="acceder()" color="secundary" class="btnAcceder">ACCEDER</button>
    </mat-toolbar>
    
    <div class="contenedorBusqueda temaFceOscuro">

              
              <h1 class="titulo"><b>DIGESTO</b> - ¿Qué estás buscando?</h1>


              <form [formGroup]='filters' (ngSubmit)='buscar()' class="formularioPC">

                  <div class="bloqueBuscar">

                    <mat-form-field class="inputBuscar" appearance="fill">
                        <mat-label>Buscar Normas</mat-label>
                        <input matInput formControlName='texto'>
                        <mat-hint class="mensajeBusqueda">Búsqueda libre ( palabras, números, extracto de norma, etc.)</mat-hint>
                    </mat-form-field>
          
                    <button type='submit' class="btnBuscarPC" mat-flat-button color="primary">   
                        <mat-icon matSuffix>search</mat-icon> 
                    </button>

                  </div>


              </form>



          
      


      <!-- <div class="busquedaPC temaFceOscuro">

              <form [formGroup]='filters' (ngSubmit)='buscar()' class="formularioPC">

                  <div class="bloqueBuscar">

                    <mat-form-field class="inputBuscar" appearance="fill">
                        <mat-label>Buscar Normas</mat-label>
                        <input matInput formControlName='texto'>
                        <mat-hint class="mensajeBusqueda">Búsqueda libre ( palabras, números, extracto de norma, etc.)</mat-hint>

                      </mat-form-field>
          
                      <button type='submit' class="btnBuscarPC" mat-flat-button color="primary">   
                          <mat-icon matSuffix>search</mat-icon> 
                      </button>

                  </div>

                  <div class="filtosPC">

                    <mat-form-field class="inputFecha" appearance="fill">
                      <mat-label>Desde</mat-label>
                      <input matInput [matDatepicker]="desde" placeholder="Desde" formControlName='desde'>
                      <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
                      <mat-datepicker #desde></mat-datepicker>
                    </mat-form-field>
        
                    <mat-form-field class="inputFecha" appearance="fill">
                      <mat-label>Hasta</mat-label>
                      <input matInput [matDatepicker]="hasta" placeholder="Hasta" formControlName='hasta'>
                      <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
                      <mat-datepicker #hasta></mat-datepicker>
                    </mat-form-field>

                  </div>

              </form>

        </div> -->



    </div>

 </div>


<div class="pantalla">


  <div class="resultados">


      <div class='cargando' *ngIf='cargando$ | async'>
          <mat-spinner diameter="50"></mat-spinner>
      </div>

      <div>

        <mat-table matSort [dataSource]="normas_paginadas$ | async" multiTemplateDataRows >

          <ng-container matColumnDef="numero" >
              <mat-header-cell mat-sort-header *matHeaderCellDef > Nº </mat-header-cell>
              <mat-cell *matCellDef="let n" > 
                {{n.numero}}
              </mat-cell>  
          </ng-container>

          <ng-container matColumnDef="fecha" >
              <mat-header-cell mat-sort-header *matHeaderCellDef > Fecha </mat-header-cell>
              <mat-cell *matCellDef="let n" > 
                {{n.fecha | date: 'dd/MM/yyyy'}} 
              </mat-cell>  
          </ng-container>

          <ng-container matColumnDef="tipo" >
              <mat-header-cell mat-sort-header *matHeaderCellDef > Tipo </mat-header-cell>
              <mat-cell *matCellDef="let n"> 
                {{n.tipo}}
              </mat-cell>  
          </ng-container>

          <ng-container matColumnDef="emisor" >
              <mat-header-cell *matHeaderCellDef> Emisor </mat-header-cell>
              <mat-cell *matCellDef="let n"> 
                {{n.emisor}}
              </mat-cell>  
          </ng-container>

          <ng-container matColumnDef="archivo">
              <mat-header-cell *matHeaderCellDef> Archivo </mat-header-cell>
              <mat-cell *matCellDef="let n" > 
                  <a mat-button color="primary" target='_blank' [href]="archivoUrl(n.archivo_id)"><i class="material-icons-outlined">picture_as_pdf </i></a>
              </mat-cell>  
          </ng-container>

          <mat-header-row *matHeaderRowDef="columnas()"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnas();"></mat-row>
        

    </mat-table>

    <mat-paginator [length]="tamano$ | async" [pageSize]="10" [pageSizeOptions]="[10, 50]"></mat-paginator>

  </div>

</div>

