<mat-toolbar-row>
  <button class="btnVolver" mat-button color="primary" (click)='volver()'> <mat-icon>undo </mat-icon> VOLVER </button>
  <button class="btnVolverCel" mat-icon-button color="primary" (click)='volver()'> <mat-icon>undo</mat-icon> </button>
  <span class="ruta">&nbsp; Buscar Normas</span>

  <button mat-button (click)="acceder()" color="">ACCEDER</button>


</mat-toolbar-row>

<mat-divider></mat-divider>

<div class="pantalla">

  <div class="busqueda">

      
      <mat-card>
        <form [formGroup]='filters' (ngSubmit)='buscar()'>

          <mat-form-field appearance="outline">
            <mat-label>Buscar Normas</mat-label>
            <input matInput formControlName='texto'>
            <mat-icon matSuffix>search</mat-icon>
            <mat-hint>Buscar por número</mat-hint>
          </mat-form-field>

          <button type='submit' class="btnGuardar" mat-flat-button color="primary">BUSCAR</button>

          <mat-form-field appearance="outline">
            <mat-label>Desde</mat-label>
            <input matInput [matDatepicker]="desde" placeholder="Desde" formControlName='desde'>
            <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
            <mat-datepicker #desde></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Hasta</mat-label>
            <input matInput [matDatepicker]="hasta" placeholder="Hasta" formControlName='hasta'>
            <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
            <mat-datepicker #hasta></mat-datepicker>
          </mat-form-field>

        </form>
      </mat-card>

  </div>

  <div class="resultados">

      <!-- ejemplo de paginación - falta chequear bien pero es algo que se me ocurrió sin internet rápido para que no mate la vista -->
      <mat-card>
        ({{cantidad$ | async}})
        <button mat-button (click)='anterior_pagina()'><<</button>
        <button mat-button (click)='inicial_pagina()'>{{pagina}}</button>
        <button mat-button (click)='siguiente_pagina()'>>></button>
      </mat-card>

      <mat-table matSort [dataSource]="pagina$ | async" multiTemplateDataRows>

        <ng-container matColumnDef="numero" sticky>
            <mat-header-cell *matHeaderCellDef mat-sort-header class="walter"> Número </mat-header-cell>
            <mat-cell *matCellDef="let n" class="walter"> 
              {{n.numero}}
            </mat-cell>  
        </ng-container>

        <ng-container matColumnDef="fecha" sticky>
            <mat-header-cell *matHeaderCellDef mat-sort-header class="walter"> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let n" class="walter"> 
              {{n.fecha | date}}
            </mat-cell>  
        </ng-container>

        <ng-container matColumnDef="tipo" sticky>
            <mat-header-cell *matHeaderCellDef mat-sort-header class="walter"> Tipo </mat-header-cell>
            <mat-cell *matCellDef="let n" class="walter"> 
              {{n.tipo}}
            </mat-cell>  
        </ng-container>

        <ng-container matColumnDef="emisor" sticky>
            <mat-header-cell *matHeaderCellDef mat-sort-header class="walter"> Emisor </mat-header-cell>
            <mat-cell *matCellDef="let n" class="walter"> 
              {{n.emisor}}
            </mat-cell>  
        </ng-container>

        <ng-container matColumnDef="archivo" sticky>
            <mat-header-cell *matHeaderCellDef class="walter"> Archivo </mat-header-cell>
            <mat-cell *matCellDef="let n" class="walter"> 
                <a mat-button target='_blank' [href]="archivoUrl(n.archivo_id)"><i class="material-icons-outlined"> ver </i></a>
              </mat-cell>  
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnas()"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnas();"></mat-row>
      

      </mat-table>

</div>

</div>
